# Cpp intermediary files
*.tlog
*.lastcodeanalysissucceeded
*.pdb
*.iobj
*.ipdb
Cpp/Intermediary
# Latex intermediary files
*.wav
*.aux
*.fdb_latexmk
*.fls
*.log
*.gz
# IDE Config Files
.vs
*.csv
Cpp/Execs/FT.csv
*.sol
*.ini
*.pyc
*.xml
*.bcf
*.bak
*.sav
Papers/02_Pulses_Envelope/words.md
