body {
  color: black;
  margin: 20px auto;
  font-family: 'Lato';
  font-weight: 300;
  text-align: center;
}

#B1{
  display: flex;
  flex-direction: row;
}

#B2{
  display: flex;
  flex-direction: column;
}

#B3{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
}

#RandomWave{
  width: 40em;
  height: 20em;
}

#Surface{
  width: 40em;
  height: 60em;
}

#Isolines{
  width: 80em;
  height: 90em;
}

/* button{
  fle
} */